# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Q4/.vs/Q4/v16/.suo
Q4/.vs/Q4/v16/Browse.VC.db
Q4/.vs/Q4/v16/Browse.VC.db-shm
Q4/.vs/Q4/v16/Browse.VC.db-wal
Q4/.vs/Q4/v16/Browse.VC.opendb
Q4/.vs/Q4/v16/ipch/AutoPCH/fe8ed25bfdf4f6ea/MAIN.ipch
Q4/Debug/Q4.pdb
Q4/Q4/Debug/Q4.exe.recipe
Q4/Q4/Debug/Q4.ilk
Q4/Q4/Debug/Q4.log
Q4/Q4/Debug/Q4.tlog/CL.command.1.tlog
Q4/Q4/Debug/Q4.tlog/CL.read.1.tlog
Q4/Q4/Debug/Q4.tlog/CL.write.1.tlog
Q4/Q4/Debug/Q4.tlog/link.command.1.tlog
Q4/Q4/Debug/Q4.tlog/link.read.1.tlog
Q4/Q4/Debug/Q4.tlog/link.write.1.tlog
Q4/Q4/Debug/Q4.tlog/Q4.lastbuildstate
Q4/Q4/Debug/vc142.idb
Q4/Q4/Debug/vc142.pdb
Q4/.vs/Q4/v16/ipch/AutoPCH/33ce1caabdf5c6c2/BALL.ipch
